body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  gap: 2em;
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

#cell-1,
#cell-2,
#cell-3,
#cell-4,
#cell-5,
#cell-6,
#cell-7,
#cell-8,
#cell-9 {
  background-color: var(--yellow);
}

#markero,
#markerx {
  padding: 1rem;
}

.hidden {
  display: none;
}

section {
  font-size: 1.4em;
  display: flex;
  gap: 1.5rem;

}

div {
  display: flex;
}

section > p:first-child {
  color: var(--red);
}

section > p:last-child {
  color: var(--green);
}

section div > p:first-child {
  color: white;
}

section div > p:last-child {
  color: white;
}

body > div {
  font-size: 1.9rem;
}

body > div > p:first-child {
  color: var(--red);
}

body > div > p:last-child {
  color: white;
}