body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  gap: 2em;
  width: 100%;
  height: auto;
  text-transform: uppercase;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

#cell-1,
#cell-2,
#cell-3,
#cell-4,
#cell-5,
#cell-6,
#cell-7,
#cell-8,
#cell-9 {
  background-color: var(--yellow);
}

#markero,
#markerx {
  padding: 1rem;
}

section > p:first-child {
  color: var(--red);
}

section > p:last-child {
  color: var(--green);
}

section div > p:first-child {
  color: white;
}

section div > p:last-child {
  color: white;
}

body > div {
  font-size: 1.9rem;
}

body > div > p:first-child {
  color: var(--red);
}

body > div > p:last-child {
  color: white;
}

section:nth-of-type(2) {
  flex-direction: column;
  width: 18.75rem;
  height: 18.75rem;
  position: absolute;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  visibility: visible;
  border: 2px dashed white;
}

section:nth-of-type(2) > div {
  gap: 0.5rem;
}

section:nth-of-type(2) > img {
  width: 80px;
  height: 76.67px;
}