@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --bg-color: #4D455D;
  --red: #E96479;
  --yellow: #F5E9CF;
  --green: #7DB9B6;
}

::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Press Start 2P';
}

a,
button {
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--red);
  border: 5px solid var(--green);
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

a:hover,
button:hover {
  text-decoration: none;
  background-color: var(--red);
  color: white;
  border: 5px solid var(--yellow);
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

section {
  font-size: 1.4em;
  display: flex;
  gap: 1.5rem;
}

div {
  display: flex;
}

section h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  line-height: 115%;
}

